<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Title</title>
</head>
<body>
<div>
	Language List (Thymeleaf)
	<ul>
		<th:block th:each="lang : ${list}">
			<li>
				<a th:href="@{/language/{id}(id=${lang.id})}" th:text="${lang.name}">lang.name</a>  - <th:block th:text="${lang.owner}"></th:block>
			</li>
		</th:block>
	</ul>
</div>
</body>
</html>